<!DOCTYPE html>
<html>
<head lang="pl">
    <meta charset="UTF-8">
    <title>Gra w Pana</title>
    <meta name="keywords" content="Pan, gra, Python">
    <meta name="author" content="Małgorzata Dębowska">
    <link rel="stylesheet" type="text/css" href="../static/web/style.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <header>
        GRA W PANA
    </header>
    <main>
        {% block content %}
            Strona pojawi się wkrótce
        {% endblock %}
    </main>
    <div class="clear"></div>
    <footer>
        Copyright by Małgorzata Dębowska
    </footer>


<script type="text/javascript" src="{{ url_for('static', filename='web/cards.js') }}"></script>
</body>
</html>