{% extends "base.html" %}

{% block content %}
    <section id="players_cards">
    <header>
        <h2>Gracze</h2>
    </header>
        {% for player in players %}
            {{ player.say_about_yourself() }}<br>
            {% if player.active %}
                <article>
                    <form action="{{ url_for('play_game') }}" method="post"> {# nie wiem czemu nie chce wejść do żadnej innej funkcji niż play_game #}
                        {% for i in range(0, player.hand|length) %}
                            <input type="checkbox" name="card" value="{{ i }}" id="{{ i }}" class="hidden">
                            {% set card_url = player.hand[i].url %}
                            {% set card_id = 'card' +  i | string %}
{#                            {% if card_useful[i] %}#}
                                <label for="{{ card }}"><img src="{{ url_for('static', filename='web/images/'+card_url)}}" onclick="Toggle_card('{{ i }}')" class="card" id="{{ card_id }}"/></label>
{#                            {% else %}#}
{#                                <label for="{{ card }}"><img src="{{ url_for('static', filename='web/images/'+card_url)}}" style="filter: brightness(0.8)" onclick="Toggle_card('{{ i }}')" class="card" id="{{ card_id }}"/></label>#}
{#                            {% endif %}#}
                        {% endfor %}
                        <br><button type="submit">Zagraj <i class="fa">&#xf0da;</i></button>
                    </form>
                    <form action="{{ url_for('play_last') }}" method="post">
                        {% for i in range(0, player.hand|length) %}
                            {% set last_id = 'last' +  i | string %}
                            <input type="radio" name="last_card" value="{{ i }}" id="{{ last_id }}" class="hidden">
{#                            <label for={{ last_card }}>{{ last_id }}</label>#}
                        {% endfor %}
                        <button type="submit">Na koniec <i class="material-icons">&#xe5dd;</i></button>
                    </form>
                    {% if next_label != 1 %} {# wyświetl tylko wtedy, gdy kotś nie zagrał już kartami #}
                        <form action="{{ url_for('play_take_from_stack') }}" method="post">
                            {% if stack | length > 4 %}
                                <input type="radio" name="from_stack" value="{{ 3 }}" class="f-left">
                                <label for="{{ from_stack }}" class="f-left">3</label>
                                <input type="radio" name="from_stack" value="{{ 4 }}" class="f-left">
                                <label for="{{ from_stack }}" class="f-left">4</label>
                            {% else %}
                                <input type="radio" name="from_stack" value="{{ 3 }}" class="hidden" checked>
                            {% endif %}
                            <button type="submit">Ciągnij <i class="fa">&#xf107;</i></button><br>
                        </form>
                    {% endif %}
                    {% if next_label == 1 %}
                        <form action="{{ url_for('play_next') }}" method="get">
                            <button type="submit">Zakończ</button><br>
                        </form>
                    {% endif %}
                </article>
            {% else %}
                <article>
                    {% for i in range(0, player.hand|length) %}
                        <img src="{{ url_for('static', filename='web/images/back.png') }}" class="card back">
                    {% endfor %}
                </article>
            {% endif %}
             <hr>
        {% endfor %}
{#        <article>#}
{#            Lista graczy: {{ players }}#}
{#            Aktywny player: {{ a_player }}#}
{#        </article>#}
    </section>
    <section id="stack_cards">
    <header>
        <h2>Stos</h2>
    </header>
        {% for card in stack %}
            <img src="{{ url_for('static', filename='web/images/'+card.url)}}" class="card">
        {% endfor %}
    </section>
{% endblock %}


